name: ASAN address CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install meson
      run: |
        sudo apt-get update
        sudo apt-get install -y meson gnu-efi
    - name: Meson setup build
      run: meson setup build -Db_sanitize=address -Dslh_dsa_ascon_128s=enabled -Dslh_dsa_ascon_128f=enabled -Dsbsigntools=enabled
    - name: Meson compile
      run: meson compile -C build
    - name: Meson test
      run: meson test -C build --suite regression
