name: No Assembler

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install meson
      run: |
        sudo apt-get update
        sudo apt-get install -y meson
    - name: Meson setup
      run: meson setup build -Db_coverage=true -Dslh_dsa_ascon_128s=enabled -Dslh_dsa_ascon_128f=enabled -Dsecure_execution=enabled  -Dsbsigntools=disabled -Ddisable-asm=true
    - name: Meson compile
      run: meson compile -C build
    - name: Meson test
      run: meson test -C build --suite regression
